In [4]:
#instalando o ambiente virtual
!python -m venv venv

In [16]:
#comando para ativar o ambiente virtual 
# !cd ./venv/Scripts/activate

In [ ]:
#instalando o pymysql no ambiente virtual
!pip install pymysql

In [70]:

import pymysql
import os 
from chaves import USER, PASS, BANCO

ImportError: cannot import name 'BANCO' from 'chaves' (d:\TÉCNICO\ednilson\FBPython\pysql\chaves.py)

In [20]:
def limpa_tela():
    os.system("cls")

In [71]:
# from chaves import USER, PASS, BANCO

#criando uma conexão com o banco de dados
conexao = pymysql.connect(
    host='localhost',
    user= USER,
    password=  PASS,
    database= BANCO
)

NameError: name 'BANCO' is not defined

In [42]:
#criando um cursor
cursor = conexao.cursor()

#executa o cursor
cursor.execute("SELECT * FROM usuarios")

#guardando os dados
resultados = cursor.fetchall()

print(resultados)

#fechamento da conexão 
conexao.close()

((1, 'Epaminondas', 'epa@gmail.com', '11965478154', 'Epa é bão demais'),)

In [57]:

dados = ("Jonatinhas", "shaolinmatadordeporco@gmail.com", "11653421568", "Belo googler")


cursor = conexao.cursor()

#executa o cursor
cursor.execute("INSERT INTO usuarios(nome, email, telefone, mensagem) VALUES(%s, %s, %s, %s)", dados)
#salvando no banco
conexao.commit()


cursor.execute("SELECT * FROM usuarios")


#guardando os dados
resultados = cursor.fetchall()

print(resultados)


#fechamento da conexão 
conexao.close()

((1, 'Epaminondas', 'epa@gmail.com', '11965478154', 'Epa é bão demais'), (7, 'Jonatinhas', 'shaolinmatadordeporco@gmail.com', '11653421568', 'Belo googler'))